<h3>Filter Operators</h3>
<div class="operator-list">
  <button routerLink="filter">1. Filter</button>
  <button routerLink="sample">2. Sample</button>
  <button routerLink="audit">3. Audit</button>
  <button routerLink="throttle">4. Throttle</button>
  <button routerLink="first">5. First</button>
  <button routerLink="last">6. Last</button>
  <button routerLink="debounce">7. Debounce</button>
  <button routerLink="element-at">8. Element At</button>
  <button routerLink="ignore">9. Ignore Element</button>
  <button routerLink="single">10. Single</button>
</div>
<router-outlet></router-outlet>
