<h3>Hot And Cold Observables</h3>
<div class="functions">
  <button (click)="getColdObservable()">
    Random values by Cold Observables
  </button>
  <button (click)="getHotObservable()">Random values by Hot Observables</button>
  <button (click)="startIntervalByColdObservable()">
    Start interval by Hot Observables
  </button>
  <button (click)="startIntervalByHotObservable()">
    Start interval by Hot Observables
  </button>
  <button (click)="stopInterval()">Stop Interval</button>
</div>
<p>Click anywhere to get mouse's X position by Hot Observable.</p>
