<h3>Join Operators</h3>
<div class="functions">
  <button routerLink="combine-latest-all">1. CombineLatestAll</button>
  <button routerLink="concat-all">2. ConcatAll</button>
  <button routerLink="exhaust-all">3. ExhaustAll</button>
  <button routerLink="switch-all">4. SwitchAll</button>
  <button routerLink="merge-all">5. MergeAll</button>
  <button routerLink="start-with">6. StartWith</button>
  <button routerLink="with-latest-from">6. WithLatestFrom</button>
</div>
<router-outlet></router-outlet>
