<h3>Observable Creation Operators</h3>
<div class="functions">
  <button routerLink="combine-latest">1. Combile Latest</button>
  <button routerLink="concat">2. Concat</button>
  <button routerLink="fork-join">3. Fork Join</button>
  <button routerLink="merge">4. Merge</button>
  <button routerLink="partition">5. Partition</button>
  <button routerLink="race">6. Race</button>
  <button routerLink="zip">7. Zip</button>
  <button routerLink="defer">8. Defer</button>
  <button routerLink="range">9. Range</button>
  <button routerLink="generate">10. Generate</button>
  <button routerLink="timer">11. Timer</button>
  <button routerLink="count">12. Count</button>
  <button routerLink="max">13. Max</button>
  <button routerLink="min">14. Min</button>
  <button routerLink="reduce">15. Reduce</button>
</div>
<router-outlet></router-outlet>
