<h3>Subjects</h3>
<div class="functions">
  <button (click)="getDatafromObservable()">Get Data from Observable</button>
  <button (click)="getDatafromSubject()">Get Data from Subject</button>
  <button routerLink="hot-and-cold-observables">
    1. Hot and Cold Observables
  </button>
  <button routerLink="multicast-and-connectable">
    2. Multicast & Connectable
  </button>
  <button routerLink="publish-refcount-share">
    3. Publish, RefCount & Share
  </button>
  <button routerLink="behavior-subject">4. Behavior Subject</button>
  <button routerLink="replay-subject">5. Replay Subject</button>
  <button routerLink="async-subject">5. Async Subject</button>
</div>
<router-outlet></router-outlet>
