<h3>RxJS Operators</h3>
<div class="sample-operator">
  <button (click)="startInterval()">Start Even Interval</button>
  <button (click)="stopInterval()">Stop Even Interval</button>
</div>
<div class="operator-list">
  <button routerLink="buffer">1. Buffer</button>
  <button routerLink="buffer-count">2. BufferCount</button>
  <button routerLink="buffer-time">3. BufferTime</button>
  <button routerLink="buffer-toggle">4. BufferToggle</button>
  <button routerLink="buffer-when">5. BufferWhen</button>
  <button routerLink="take">6. Take</button>
  <button routerLink="take-last">7. TakeLast</button>
  <button routerLink="take-untill">7. TakeUntill</button>
  <button routerLink="take-while">7. TakeWhile</button>
  <button routerLink="skip">8. Skip</button>
  <button routerLink="skip-last">9. SkipLast</button>
  <button routerLink="skip-until">10. SkipUntil</button>
  <button routerLink="skip-while">11. SkipWhile</button>
  <button routerLink="distinct-operators">12. Distinct Operators</button>
  <button routerLink="filter-operators">13. Filter Operators</button>
  <button routerLink="transformation-operators">
    14. Transformation Operators
  </button>
  <button routerLink="creation-operators">15. Creation Operators</button>
</div>
<router-outlet></router-outlet>
