<h3>RxJS Operators</h3>
<div class="functions">
  <button (click)="startInterval()">Start Even Interval</button>
  <button (click)="stopInterval()">Stop Even Interval</button>
</div>
<div class="functions">
  <button routerLink="buffer-operators">1. Buffer Operators</button>
  <button routerLink="take-operators">2. Take Operators</button>
  <button routerLink="skip-operators">3. Skip Operators</button>
  <button routerLink="distinct-operators">4. Distinct Operators</button>
  <button routerLink="filter-operators">5. Filter Operators</button>
  <button routerLink="transformation-operators">
    6. Transformation Operators
  </button>
  <button routerLink="creation-operators">7. Creation Operators</button>
  <button routerLink="mapping-operators">8. Mapping Operators</button>
  <button routerLink="error-handling-operators">
    9. Error Handling Operators
  </button>
  <button routerLink="observable-creation-operators">
    10. Observable Creation Operators
  </button>
  <button routerLink="condtitional-operators">11. Conditional Operators</button>
  <button routerLink="utility-operators">12. Utility Operators</button>
  <button routerLink="join-operators">13. Join Operators</button>
  <button routerLink="window-operators">14. Window Operators</button>
</div>
<router-outlet></router-outlet>
