<h3>RxJS Operators</h3>
<div class="sample-operator">
  <button (click)="startInterval()">Start Even Interval</button>
  <button (click)="stopInterval()">Stop Even Interval</button>
</div>
<div class="operator-list">
  <button routerLink="buffer-operators">1. Buffer Operators</button>
  <button routerLink="take-operators">2. Take Operators</button>
  <button routerLink="skip-operators">3. Skip Operators</button>
  <button routerLink="distinct-operators">4. Distinct Operators</button>
  <button routerLink="filter-operators">5. Filter Operators</button>
  <button routerLink="transformation-operators">
    6. Transformation Operators
  </button>
  <button routerLink="creation-operators">7. Creation Operators</button>
  <button routerLink="mapping-operators">8. Mapping Operators</button>
</div>
<router-outlet></router-outlet>
