<h3>Higher Order Mapping Operators</h3>
<div class="operator-list">
  <button routerLink="merge-map">1. MergeMap</button>
  <button routerLink="merge-map-to">2. MergeMapTo</button>
  <button routerLink="concat-map">3. ConcatMap</button>
  <button routerLink="concat-map-to">4. ConcatMapTo</button>
  <button routerLink="exhaust-map">5. ExhaustMap</button>
  <button routerLink="switch-map">6. SwitchMap</button>
  <button routerLink="switch-map-to">7. SwitchMapTo</button>
</div>
<router-outlet></router-outlet>
